*
{
 padding: 0;
 margin: 0;

}
body{
    
    object-fit: none;
}
.header #container
{
    height: 100%;
    background-image: image(url(image/banner11.jpg));
    background-position:center ;
    background-attachment: fixed ;
    background-size: cover ;
    background-repeat: no-repeat ;
}
.header #loginbtn{
    padding-top: 30px;
    float:left;
    color: yellowgreen;

}

.welcome
{
text-align: center;
text-shadow: springgreen;

}
.h3
{
    color: rgb(6, 75, 11);
}





 