*{
    padding: 0px;
margin: 0px;
box-sizing: border-box;
list-style: none;
font-family: Arial, Helvetica, sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background-image:url(images/tour6.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.h3{
    text-shadow: 2px;
    font-size: 15px;
    font-weight: bold;
    color: bisque;

}