*{
    padding: 0px;
margin: 0px;
box-sizing: border-box;
list-style: none;
font-family: Arial, Helvetica, sans-serif;

}
.topnav {
    overflow: hidden;
    background-color: rgb(8, 139, 41);
    font-size: 20px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }
        
.container{
    width: 100%;
    height: 100vh;
    background-image:url(images/tourwallimg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;

}.login{
    width: 350px;
    height: auto;
    background-color:rgb(233, 227, 238);
    text-align: left;
}
.login h2{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    padding: 12px 30px;
    background-color: rgb(94, 124, 94);
}
#name{
    width: 300px;
}
.login input[type="text"],input[type="email"],input[type="password"]{
    width: 300px;
    height: 30px;
    margin-left: 12px;
    margin-top: 12px;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 3px solid green;

}
b{
    font-size: 18px;
    color: #000;
    padding-left: 15px;
}
#submit{
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-left: 12px;
    margin: auto;
    padding-left: 8px 30;
    background-color: rgb(76, 112, 76);
    border-radius: 15px;
    cursor: pointer;
}
 #submit:hover{
     letter-spacing: 4px;
     transition: .5s;
 }
 h4{
     padding-left: 30px;
 }
